<?xml version="1.0"?>
<robot name="cirtesub">

  <link name="cirtesub/base_link">
    <visual>
      <origin xyz="0 0 0" rpy="1.57 0 1.57"/>
      <geometry>
        <mesh filename="package://cirtesub_stonefish/urdf/cirtesub_description/meshes/cirtesubdae.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>

  <link name="cirtesub/Thruster_up_front"/>

  <joint name="cirtesub/Thruster_up_front" type="fixed">
    <parent link="cirtesub/base_link"/>
    <child link="cirtesub/Thruster_up_front"/>
    <origin xyz="0.292227 0.0 -0.151409" rpy="0 0 0"/>
  </joint>

  <link name="cirtesub/Thruster_up_back"/>

  <joint name="cirtesub/Thruster_up_back" type="fixed">
    <parent link="cirtesub/base_link"/>
    <child link="cirtesub/Thruster_up_back"/>
    <origin xyz="-0.249496 0.0 -0.151409" rpy="0 0 0"/>
  </joint>

  <link name="cirtesub/Thruster_up_left"/>

  <joint name="cirtesub/Thruster_up_left" type="fixed">
    <parent link="cirtesub/base_link"/>
    <child link="cirtesub/Thruster_up_left"/>
    <origin xyz="0.023225 -0.306067 -0.151409" rpy="0 0 0"/>
  </joint>

  <link name="cirtesub/Thruster_up_right"/>

  <joint name="cirtesub/Thruster_up_right" type="fixed">
    <parent link="cirtesub/base_link"/>
    <child link="cirtesub/Thruster_up_right"/>
    <origin xyz="0.023225 0.303929 -0.151409" rpy="0 0 0"/>
  </joint>

  <link name="cirtesub/Thruster_down_backleft"/>

  <joint name="cirtesub/Thruster_down_backleft" type="fixed">
    <parent link="cirtesub/base_link"/>
    <child link="cirtesub/Thruster_down_backleft"/>
    <origin xyz="-0.143453 -0.230229 -0.078257" rpy="0 1.57 -0.785398"/>
  </joint>

  <link name="cirtesub/Thruster_down_backright"/>

  <joint name="cirtesub/Thruster_down_backright" type="fixed">
    <parent link="cirtesub/base_link"/>
    <child link="cirtesub/Thruster_down_backright"/>
    <origin xyz="0.185331 0.228158 -0.078257" rpy="0 1.57 2.35619"/>
  </joint>

  <link name="cirtesub/Thruster_down_frontleft"/>

  <joint name="cirtesub/Thruster_down_frontleft" type="fixed">
    <parent link="cirtesub/base_link"/>
    <child link="cirtesub/Thruster_down_frontleft"/>
    <origin xyz="0.185132 -0.230229 -0.078257" rpy="0 1.57 0.785398"/>
  </joint>

  <link name="cirtesub/Thruster_down_frontright"/>

  <joint name="cirtesub/Thruster_down_frontright" type="fixed">
    <parent link="cirtesub/base_link"/>
    <child link="cirtesub/Thruster_down_frontright"/>
    <origin xyz="-0.143453 0.228158 -0.078257" rpy="0 1.57 -2.35619"/>
  </joint>
</robot>